.page.theme_dark {
  --background-color: #000028;
  --background-image: url(../images/cover-image-dark.png);

  --main-header-color: #DB00FF;
  --main-header-shadow: #FF0070;

  --navigation-link-color: #FF0070;
  --hover-outline: 1px solid rgba(255, 0, 112, 0.40);

  --main-text-color: #F1B2CE;
  
  --section-title-cover: #FF0070;
  --article-title-color: #000028;
  --border-color: #FF0070;
  --link-underline-color: #F1B2CE;
  --link-shadow-color: #FF0070;
  
  --rec-decor-visibility: visible;
}