.page.theme_light {
  --background-color: #fff1f7;
  --background-image: url(../images/cover-image-light.png);

  --main-header-color: #FFC2E6;
  --main-header-shadow: #FF0070;

  --navigation-link-color: #353430;
  --hover-outline: 1px solid rgba(50, 49, 45, 0.40);

  --main-text-color: #353430;
  
  --section-title-cover: var(--main-text-color);
  --article-title-color: var(--main-text-color);
  --border-color: #FF0070;
  --link-underline-color: #353430;
  --link-shadow-color: #FFC2E6;
}
