/* Common */

.shadow {
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
}

/* Page */

.page {
  --transition-duration: 0.25s;
  background: var(--background-image, '../images/cover-image.png') no-repeat top center,
              var(--background-color);
  background-size: cover;
  background-attachment: fixed;
  color: var(--main-text-color);
  transition-duration: var(--transition-duration);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; 
}

/* Header*/

.header,
.footer {
  display: grid;
  padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  min-block-size: 100vh;
}

.header {
  align-items: start;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  z-index: -1;
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  border-left: 1px solid var(--accent-color, #ff0070);
  border-bottom: 1px solid var(--accent-color, #ff0070);
  left: 20px;
  bottom: 20px;
}

.decorated-zone::after {
  border-right: 1px solid var(--accent-color, #ff0070);
  border-top: 1px solid var(--accent-color, #ff0070);
  right: 10px;
  top: 15px;
}

.header__theme-menu {
  justify-self: end;
  margin-block: 65px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.header__theme-menu-button {
  position: relative;
  display: block;
  background: transparent;
  color: var(--navigation-link-color);
  border: none;
  line-height: 18px;
  padding: 2px 13px 4px;
  text-transform: lowercase;
  cursor: pointer;
  appearance: none;
}

.header__theme-menu-button:focus {
  outline: 0;
}

.header__theme-menu-button:focus-visible {
  content: '';
  position: absolute;
  inline-size: 100%;
  block-size: 1px;
  inset-block-end: -2px;
  inset-inline-start: 0;
  border-block-end-color: currentColor;
}

.header__theme-menu-button:hover {
  outline: var(--hover-outline, #ff0070);
  border: var(--hover-outline);
}

.header__theme-menu-button:active {
  border-color: var(--hover-outline);
  cursor: default;
  pointer-events: none;
}

.header__rec {
  display: inline-flex;
  position: absolute;
  z-index: -1;
  visibility: var(--header-rec-visible, visible);
  inset-inline-end: 20px;
  inset-block-start: 18px;
  align-items: center;
  gap: 10px;
}

.header__rec::before {
  content: var(--header-rec-content);
  text-transform: uppercase;
  color: var(--accent-color, #FF0070);
  line-height: 25px;
}

.header__rec::after {
  content: "";
  inline-size: 10px;
  block-size: 10px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color, #FF0070);
  background-color: var(--accent-color, #FF0070);
  display: inline-block;
}

.main__title {
  color: var(--main-header-color, #DB00FF);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
}

.header__subtitle {
  font-weight: 700;
  line-height: 23.4px; 
  color: var(--highlight-color, #000028);
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
  background: var(--accent-color, #ff0070);
  margin-block: 55px;
}

/* Main */

.main {
  display: grid;
  gap: 50px;
  padding: 40px 10px;
}

.section {
  display: grid;
  gap: 20px;
}

.section__gallery {
  gap: 10px;
}

.setion__how-concentrates-better-title {
  margin-block-end: 20px;
}

.section__title {
  background-color: transparent;
  color: var(--section-title-color, #FF0070);
  font-weight: var(--font-weight-bold);
  font-size: inherit;
  line-height: inherit;
}

.articles__list {
  display: grid;
  gap: 20px;
}

.article {
  display: grid;
  gap: 10px;
}

.title {
  color: var(--article-title-color, #FF0070);
  font-weight: var(--font-weight-normal);
  font-size: inherit;
  line-height: inherit;
}

.title-decor {
  background-color: var(--section-title-cover, #FF0070);
  color: var(--article-title-color, #000028);
}

.article__link {
  text-decoration: none;
}

.article__link:hover {
  text-decoration: underline;
  color: currentColor;
}

.article__link:focus {
  outline: 0;
}

.article__link:focus-visible {
  outline: 1px solid currentColor;
}

.gallery__list {
  display: grid;
  gap: 10px;
}

.gallery__list-image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  place-content: center;
  block-size: 100dvb;
}

.footer__title {
  text-shadow: 2px 2px 0px var(--accent-color, #FF0070);
}


@media (width >= 768px) {
  .header__rec {
    inset-block-start: 20px;
    inset-inline-end: 28px;
  }

  .header {
    padding-inline-start: 0;
  }
  
  .header__theme-menu {
    margin-block-start: 170px;
    margin-block-end: 70px;
  }

  .header__subtitle {
    justify-self: end;
    inline-size: clamp(364px, calc(100% / 2 - 10px), 491px);
  }

  .main__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .main {
    gap: 80px;
    padding: 60px 20px;
  }

  .section {
    grid-template-columns: clamp(236px, calc(100% / 3.25), 315px) 1fr;
  }

  .decrease-concentration-articles {
    grid-column-start: span 2;
  }

  .section__gallery {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .how-concentrates-better-articles {
    grid-column-start: 2;
  }

  .gallery__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery__list-item:first-child,
  .gallery__list-item:last-child {
    grid-column-start: span 2;
  }

  .gallery__list-item:nth-child(2),
  .gallery__list-item:nth-child(3) {
    grid-row-start: span 2;
  }
}

@media (width >= 1024px) {
  .main-title {
    text-shadow: 4px 4px 0 var(--color-purple-2, #ff0070);
  }

  .section {
    column-gap: 30px;
  }

  .decrease-concentration-articles {
    grid-template-columns: repeat(3, 1fr);
  }

  .header__theme-menu {
    justify-self: center;
    margin-inline-start: 20px;
    margin-block-start: 0;
    margin-block-end: 215px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }
}